<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dr. Mine!</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <!-- Spline Viewer -->
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.82/build/spline-viewer.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/images/black-icon.png" alt="Dr. Mine Logo">
      </div>
      <div class="right">
        <a href="/login" class="nav-link">Login</a>
        <a href="/register" class="nav-link">Register</a>
      </div>
    </nav>
    <main>
      <section class="hero">
        <div class="content">
          <h1>Welcome to <span>Dr. Mine!</span></h1>
          <p>Your intelligent assistant for mental health well being.</p>
          <a href="/register" class="btn">Get Started</a>
        </div>
        <div class="spline-container">
          <spline-viewer url="https://prod.spline.design/NLqzWe2RM9qj2opf/scene.splinecode"></spline-viewer>
        </div>
      </section>
    </main>
  </body>
</html>
