<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dr. Mine!</title>
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <img src="/images/black-icon.png" alt="icon">
      <h4><a href="/login">Logout</a></h4>
    </nav>
    <div class="user_details">
      <div class="dp">
        <img src="/images/maledp.svg" height="100" alt="dp" />
      </div>
      <div class="name"><%=username%></div>
      <div class="username">@<%=username.toLowerCase()%></div>
    </div>
    <div class="chart-container">
      <div id="LastMonth"></div>
      <div id="LastWeek"></div>
      <div id="Today"></div>
    </div>
  </body>
</html>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script>

</script>
<script src="/javascripts/profile.js"></script>
