@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond&family=Kanit&family=Ubuntu&family=Ubuntu+Mono:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  /* background: #fff; */
  background-color: #f9f5f6;
  position: relative;
  background: url('/images/home/home_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  min-height: 100vh;
}

@keyframes moveCloud {
  0% {
    left: -20%; 
    opacity: 0%;
  }
  100% {
    left: 110%; 
    opacity: 100%;
  }
}

@keyframes moveBird {
  0% {
    left: -20%; 
    top: 78px; 
  }
  10% {
    top: 150px; 
  }
  25% {
    top: 250px;
  }
  35% {
    top: 200px; 
  }
  50% {
    top: 78px; 
  }
  65% {
    top: 200px; 
  }
  75% {
    top: 250px; 
  }
  85% {
    top: 150px; 
  }
  100% {
    left: 110%;
    top: 78px; 
  }
}

#b2 {
  height: 27vh;
  width: 20vw;
  position: absolute;
  top: 78px;
  left: -20%;
  opacity: 40%;
  z-index: 996;
  animation: moveBird 20s ease-in-out infinite; /* Set timing function to linear */
}

#s1{
  height: 25vh;
  width: 10vw;
  position: absolute;
  top: -6px;
  left: 868px;
  opacity: 100%;
} 

#s1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 89px #fec107);
}

#b1{
  height: 25vh;
  width: 10vw;
  position: absolute;
  top: 126px;
  left: -12px;
  opacity: 40%;
}

#b2 img{
 height: 54%; 
 width: 50%;
 object-fit: cover;
}

#b3{
  height: 15vh;
  width: 8vw;
  position: absolute;
  top: 23px;
  left: 236px;
  opacity: 40%;
}

.cloud {
  position: absolute;
  animation: moveCloud 60s linear infinite;
}

#c1{
  height: 29vh;
  width: 19vw;
  position: absolute;
  top: -34px;
  left: -20%;
  opacity: 81%;
  z-index: 997;
  animation-delay:0s;
}

#c2{
  height: 29vh;
  width: 16vw;
  position: absolute;
  top: 58px;
  left: -20%;
  opacity: 81%;
  z-index: 997;
  animation-delay:15s;
}

#c3{
  height: 30vh;
  width: 29vw;
  position: absolute;
  top: 7px;
  left: -30%;
  opacity: 81%;
  z-index: 997;
  animation-delay:30s;
}

#c3 img{
  width: 90%;
  height: 100%;
  object-fit: cover;
}

#c4{
  height: 34vh;
  width: 21vw;
  position: absolute;
  top: 70px;
  left: -20%;
  opacity: 81%;
  z-index: 996;
  animation-delay:40s;
}

.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#grass{
  height: 16vh;
  width: 100%;
  position: absolute;
  bottom: -7px;
  left: 43px;
}

#grass img{
  height: 100%;
  object-fit: cover;
  width: 30%;
}

.container a {
  color: black;
  text-decoration: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #176b87;
  /* display: none; */
}

.quote_container {
  display: none;
  height: 60vh;
  width: 70%;
  padding: 2em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
}

p {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 600;
  opacity: 70%;
}

nav {
  /* background-color: #bbddddd7; */
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2em;
  z-index: 998;
  position: relative;
}

nav h4 {
  border-radius: 30px;
  padding: 0.3em 1em;
  position: relative;
  overflow: hidden;
}

nav h4::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50%;
  transition: all 0.5s;
}

nav h4:hover::after {
  bottom: 0;
  border-radius: 0px;
}

nav h4 a {
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

nav h4:hover a {
  color: white;
}

nav .logo img{
  height: 8rem;
  object-fit: cover;
}

.right {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 3em;
  font-weight: 700;
  cursor: pointer;
}

.container {
  padding: 2em 5em;
  height: calc(100vh - 6.5rem);
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0em 2em;
  z-index: 998;
}

.container .box {
  height: 16rem;
  width: 19rem;
  margin: 0 2em;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dfaf3694;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.12) 1px 2px 4px, rgba(0, 0, 0, 0.24) 1px 2px 4px;
  cursor: pointer;
}

.up {
  height: 20%;
  width: 100%;
  /* background-color: aqua; */
  padding: 0.2em 1em;
}

.up h2 {
  font-size: 2.2rem;
  z-index: 2;
}

.down {
  padding: 0.2em 1em;
  height: 80%;
  /* background-color: blue; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 0;
  /* padding: 1em 0em;margin-top: 1em; */
}

.down img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  /* padding: 1em 0em; */
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    padding: 2em;
  }
  
  .container .box {
    width: 100%;
    margin: 1em 0.5em;
  }
  
  #s1 {
    left: 75%;
  }
}

@media screen and (max-width: 992px) {
  nav {
    height: 5rem;
  }
  
  nav .logo img {
    height: 6rem;
  }
  
  .right {
    gap: 1.5em;
  }
  
  .up h2 {
    font-size: 1.8rem;
  }
  
  .container {
    padding: 1em;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: auto;
  }
  
  nav {
    padding: 0 1em;
  }
  
  nav .logo img {
    height: 5rem;
  }
  
  .right {
    gap: 1em;
  }
  
  .container {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
  
  .container .box {
    height: 14rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  
  .up h2 {
    font-size: 1.6rem;
  }
  
  p {
    font-size: 1.8rem;
  }
  
  /* Adjust decorative elements */
  #s1 {
    width: 15vw;
    height: 15vh;
    left: 80%;
  }
  
  #b1, #b2, #b3 {
    width: 15vw;
    height: 15vh;
  }
  
  .cloud {
    width: 20vw;
    height: 20vh;
  }
}

@media screen and (max-width: 576px) {
  nav {
    height: 4rem;
    padding: 0 0.5em;
  }
  
  nav .logo img {
    height: 4rem;
  }
  
  .right {
    gap: 0.5em;
  }
  
  nav h4 {
    padding: 0.2em 0.7em;
    font-size: 0.85rem;
  }
  
  .container {
    padding: 0.5em;
  }
  
  .container .box {
    height: 12rem;
    margin-bottom: 1em;
  }
  
  .up h2 {
    font-size: 1.4rem;
  }
  
  .quote_container {
    width: 90%;
    padding: 1em;
  }
  
  p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  nav .logo img {
    height: 3.5rem;
  }
  
  .right {
    gap: 0.3em;
  }
  
  nav h4 {
    padding: 0.2em 0.5em;
    font-size: 0.8rem;
  }
  
  .container .box {
    height: 10rem;
  }
  
  .up h2 {
    font-size: 1.2rem;
  }
  
  .down {
    padding: 0.1em 0.5em;
  }
}