@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond&family=Kanit:wght@200&family=Ubuntu+Mono,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond&family=Kanit&family=Ubuntu&family=Ubuntu+Mono:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  font-family: "Kanit", sans-serif;
}
body {
  background-color: #e3f4f4;
}

#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
}
nav {
  background-color: #bbddddd7;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2em;
  /* background-color: royalblue; */
  /* box-shadow: 0px 5px 30px 0px #dadada; */
}

.right {
  font-size: 0.9rem;
  display: flex;
  /* justify-content: ; */
  align-items: center;
  gap: 3em;
  font-weight: 700;
  cursor: pointer;
}

.main {
  height: calc(100% - 3.5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  /* background-color: aqua; */
}

.main h1 {
  font-size: 4rem;
}

.emoji {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  /* background-color: royalblue; */
}

.emoji picture {
  cursor: pointer;
  /* font-size: 10rem; */
}
.emoji a {
  transition: all 0.5s ease;
 /* height: 2rem;*/
 scale: 1.5;
}
.emoji picture{
  height: 110%;
}
.emoji picture:hover {
  transform: scale(1.3);
}
.emoji a:hover {
  transform: scale(1.8);
}

.slider-container {
  height: 3rem;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  -webkit-appearance: none;
  box-shadow: 0px 0px 2px 2px #8ecddd;
  border-radius: 10px;
  width: 45%;
}

#mood {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s ease;
  opacity: 80%;
}

.bottom {
  height: 8rem;
  width: 100%;
  /* background-color: royalblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom a {
  color: black;
  text-decoration: none;
}

.bottom span {
  font-size: 1.1rem;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5em 0.5em;
  font-weight: 800;
  /* box-shadow: 0px 0px 50px 10px #dadada; */
  cursor: pointer;
}
