@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond&family=Kanit:wght@800&family=Ubuntu+Mono,wght@1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap");

:root {
  --bg: #ff9130;
  --bg-2: #ff5b22;
  --secondar-color: #f5f5f5;
  --text-color: #a39e9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  font-family: "Kanit", sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: royalblue;
  background-color: var(--bg);
}
.left {
  height: 100vh;
  width: 35vw;
  /* background-color: royalblue;*/
  background-color: var(--bg);
  color: white;
}
.left nav {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.5em;
  /*background-color: royalblue;*/
}
.left nav img {
  height: 330px;
  margin-top: 350px;
}
.left .text {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  position: relative;
}
.left .text h1 {
  font-weight: 600;
  font-size: 2.5rem;
}
.text p {
  font-weight: 100;
  text-align: center;
  width: 70%;
  padding: 0 2em;
}

.left .toggle a {
  text-decoration: none;
  outline: none;
  border: none;
  border: 2px solid #eb5716;
  border-radius: 30px;
  background-color: #eb5716;
  font-weight: unset;
  position: absolute;
  bottom: 20%;
  right: 40%;
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
}

.right {
  height: 100vh;
  width: 75vw;
  /*background-color: crimson;*/
  background-color: var(--secondar-color);
  border-radius: 0 30px 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right h1 {
  font-weight: 600;
  color: var(--bg-2);
}
.right form {
  width: 60%;
  padding: 2em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.in-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 1.2em 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.in-box input {
  width: 70%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--text-color);
  background: transparent;
  box-sizing: border-box;
  color: black;
  font-size: 1.1rem;
}
.in-box input::placeholder {
  color: var(--text-color);
}
.login {
  width: 60%;
}

.login input {
  width: 100%;
  height: 40px;
  margin: 15px 2px;
  outline: none;
  border: none;
  border-radius: 30px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s ease;
  background-color: var(--bg);
  font-weight: 800;
}
.login input:hover {
  background-color: var(--bg-2);
}

@media only screen and (max-width: 750px) {
  .container {
    flex-direction: column-reverse;
  }
  .left {
    width: 100%;
  }
  nav img {
    display: none;
  }
  .right {
    height: 70vh;
    width: 100%;
    /*background-color: crimson;*/
    background-color: var(--secondar-color);
    border-radius: 0 0 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
