@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond&family=Kanit&family=Ubuntu&family=Ubuntu+Mono:ital,wght@1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(56%);
  scale: 1.2;
}
.container{
  height: 100vh;
  position: relative;
}

#head{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
#head h1{
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
}

#card-container{
  position: absolute;
  bottom: 12%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}


.card{
  display: block;
  color: white;
  background-color: #ef792568;
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 0.3em 1em;
  cursor: pointer;
}
.card a{
  color: white;
  list-style: none;
  text-decoration: none;
}

.card:nth-child(2){
background-color: rgba(255, 255, 255, 0.28);
}







