@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap");
:root {
  --user_height: 35vh;
  --chart_height: 60vh;
  --bg: #ff9130;
  --bg-2: #ff5b22;
  --secondar-color: #f5f5f5;
  --text-color: #a39e9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
nav {
  height: 15vh;
  width: 100%;
  padding: 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  height: 10rem;
  cursor: pointer;
}

nav h4 {
  border: 2px solid var(--bg-2);
  border: 2px solid black;
  border-radius: 30px;
  padding: 0.3em 1em;
  position: relative;
  overflow: hidden;
  width: 80px;
}
nav h4::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-2);
  border-radius: 50%;
  transition: all 0.5s;
}
nav h4:hover::after {
  bottom: 0;
  border-radius: 0px;
}
nav h4:hover {
  border-color: var(--bg-2);
}

nav h4 a {
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 9;
  font-size: 0.9rem;
  font-weight: 650;
}
nav h4:hover a {
  color: white;
}

.user_details {
  height: var(--user_height);
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em 0;
  /* border: 2px solid black; */
}

.user_details img{
    cursor: pointer;
}


.user_details .name {
  font-size: 1.6rem;
  font-weight: 700;
}

.username {
  font-size: 0.8rem;
  opacity: 90%;
}

.chart-container {
  height: var(--chart_height);
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  /* background-color: royalblue; */
  /* border: 2px solid red; */
}
