@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;550;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    font-family: "Kanit", sans-serif;
  }
  
.img{
  position: absolute;
}
.img img{
  height: 100%;
}
#refresh{
  top: 51px;
    right: -13px;
    height: 7rem;
    cursor: pointer;
}
#img1{
  height: 15rem;
  left: -118px;
  bottom: 15px;
}
#img2{
  height: 6rem;
  top: 23px;
  left: 60%;
  z-index: 998;
}
#img3{
  height: 20rem;
  right: -102px;
  bottom: 0px;
}

h1{
  z-index: 999;

}

  body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/images/recommend/bg.png');
    overflow: hidden;
  }
  
  nav {
    /* background-color: #bbddddd7; */
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 0 2em;
  }
  
  .logo {
    width: 100px;
    height: 130px;
    padding: 0em 0.5em;
  }

  
  .logo img {
    height: 100%;
    width: 100%;
    margin: 1em 0;
    object-fit: cover;
  }
  
  nav h4 {
    border-radius: 30px;
    padding: 0.3em 1em;
    position: relative;
    overflow: hidden;
  }
  nav h4::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 50%;
    transition: all 0.5s;
  }
  nav h4:hover::after {
    bottom: 0;
    border-radius: 0px;
  }
  
  nav h4 a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
  }
  nav h4:hover a {
    color: white;
  }
  .right {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 3em;
    font-weight: 700;
    cursor: pointer;
  }
  

  ul {
    margin-top: 2em;
  }
  
  h1 {
    color: #2c3e50;
    color: #FD772B;
    font-size: 7rem;
    line-height: 0.7;

  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    justify-content: center;
    position: relative;
  }
  
  li {
    background-color: #DFAF36;
    color: #fff;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
    height: 22vh;
    width: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 38px;
    position: relative;
  }
  li p{
    font-size: 1.6rem;
    font-weight: 550;
  }
  li img{
    position: absolute;
    top: 4px;
    right: 1px;
    height: 2rem;
    opacity: 0%;
  }
  li:hover {
    background-color: #c19118;
  }
  li:hover li img {
    opacity: 100%;
  }
  

  