@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=EB+Garamond&family=Kanit&family=Ubuntu&family=Ubuntu+Mono:ital,wght@1,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    scale: 1.2;
    filter: brightness(70%);
  }

#shuffle{
    cursor: pointer;
}

nav {
    /* background-color: #bbddddd7; */
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2em;
  }
  nav .logo img,.right a img{
    filter: drop-shadow(0px 0px 20px white);
  }
  nav h4 {
    border-radius: 30px;
    padding: 0.3em 1em;
    position: relative;
    overflow: hidden;
  }
  nav h4::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s;
  }
  nav h4:hover::after {
    bottom: 0;
    border-radius: 0px;
  }
  
  nav h4 a {
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 9;
  }
  nav h4:hover a {
    color: black;
  }
  
  nav .logo img{
    height: 8rem;
    object-fit: cover;
  }
  .right {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 3em;
    font-weight: 700;
    cursor: pointer;
  }



  .right img{
    height: 58px;
    position: absolute;
    top: 12%;
    right: 1%;
  }
.right a img{
    height: 50px;
    object-fit: cover;
}
  .card-container{
    height: calc(100vh - 6.5rem);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }

.card{
   height: 250px; 
   aspect-ratio: 2/1.5;
   border-radius: 20px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: relative;
   box-shadow: 0px 0px 30px gray;
   cursor: pointer;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
